* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    text-align: center;
}

h3 {
    color: forestgreen;
    -webkit-text-stroke: .5px;
    -webkit-text-stroke-color: black;
}

h1 p {
    text-align: center;
}